<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="de.achimmihca.recenteditors.commands.OpenRecentEditorsDialogHandler"
            id="de.achimmihca.recenteditors.openRecentEditorsDialog"
            name="Recent Editors...">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="de.achimmihca.recenteditors.commands.OpenRecentEditorHandler"
            id="de.achimmihca.recenteditors.openRecentEditor"
            name="Re-Open Last Closed Editor">
      </command>
   </extension>

    <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.achimmihca.recenteditors.openRecentEditorsDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+E">
      </key>
      <key
            commandId="de.achimmihca.recenteditors.openRecentEditor"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+W">
      </key>
   </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="de.achimmihca.recenteditors.RecentEditorsPluginStartup">
       </startup>
    </extension>
   
</plugin>
